<% content_for :meta do %>
<meta property="og:title" content="<%=@photo.user.pretty_name%>'s photo">
<meta property="og:description" content="Photo taken by <%=@photo.user.pretty_name%> on <%= @photo.pretty_taken_at %> at <%= @photo.f_stop %>, <%= @photo.pretty_exposure_time %>">
<meta property="og:url" content="<%=request.url%>">
<meta property="og:image" content="<%=url(@photo.image.thumb('1200x630#').url)%>">
<meta property="fb:app_id" content="<%=facebook_app_id%>">
<% end %>
<div class="row">
  <% if @photo.portrait? %>
  <div class="span6 offset3 photo-container">
  <% else %>
  <div class="span10 offset1 photo-container">
  <% end %>
    <img src="<%=@photo.image.url %>">
    <div class="photo-info">
      <span><%=@photo.pretty_exposure_time%></span>
      <span><i>f</i>/<%=@photo.f_stop%></span>
      <span>ISO <%=@photo.iso %></span>
      <span style="float:right">
        <%=@photo.pretty_taken_at%>&nbsp;
        <a href="<%= url("/photos/#{@photo.id}") %>" class="share facebook" data-display-name="<%=@photo.user.pretty_name%>">
          <i class="icon-share icon-white"></i>
        </a>
      </span>
    </div>
  </div>
</div>
